.topbar {
  /* background-color: #751b18; */
  background-color:  #5e1715;
  color: white;
  /* opacity: .93; */
}

.navcss {
  background-color: whitesmoke;
  color: #5e1715;
  border-style: solid;
  border-width: 2px;
 
  /* opacity: .9; */
}

.logoimg {
  width: 20vw;
  /* height: 20vh; */
}

.tags {
  /* background-color: #751b18; */
  text-decoration: none;
  font-size: 1.25em;
   /* font-size: 1.25vw; */
  /* border-style: solid; */
  /* border-width: 4px; */
  background-color: white;
  border-style: solid;
  border-width: 3px;
  border-radius: 15px;


  
}

.active {
  background-color:  #5e1715;
  border: none;
  color: white;
  font-weight: bold;





}

.directory-links {
  background-color: #5e1715;
  border-color: #5e1715;
  border-style: solid;
  border-width: 3px;
  border-radius: 30px;
}

.footer {
  /* background-color: #751b18; */
  background-color:  #5e1715;
  color: white;
  height: 7vh;
  /* opacity: .93; */
}

.disclaimerlink {
  color: white;
  }

.designerlink {
  color: white;
}


.iconcss{
  font-size: 1.4em;
  color: white;
}

.iconcss:hover{
  /* font-size: 1.8em; */
  color: #e6d67d;
}

/* -------------------- */
/* -------------------- */
/* -------------------- */


/* -------------------- */
/* mobile: */
.logoimg {
  width: 40vw;
  /* height: 20vh; */
}


/* -------------------- */
@media only screen and (min-width: 769px) and (max-width: 1024px) {

  /* For tablets: */
  .logoimg {
    width: 20vw;
    /* height: 20vh; */
  }
}

@media only screen and (min-width: 1025px) {

  /* For laptops: */
  .logoimg {
    width: 20vw;
    /* height: 20vh; */
  }
}









