.topbar {
  /* background-color: #751b18; */
  background-color:  #5e1715;
  color: white;
}

.navcss {
  background-color: white;
  
}

.logoimg {
  height: 20vh;
}

.tags {
  /* background-color: #751b18; */
  text-decoration: none;
  background-color:  #5e1715;
  color: white;
  font-size: 1.4em;
  /* border-style: solid; */
  /* border-width: 4px; */
  border-radius: 10px;
  
}

.active {
  background-color: white;
  border-style: solid;
  border-width: 4px;
  border-radius: 15px;
}

