.card {
  /* background: #1e8a2e; */
  /* background: #238b43;
    background: #5e1715;
    background: #5e1815; */

  /* box-shadow: 0 2px 5px #5e1715, 0 2px 5px #5e1715;  */
  /* margin: 0; */
}
.flipbody{
  max-height: 300vh;
}
.card-body {
  min-height: 100%;
}

.cardtitle {
  font-size: 1.5em;
  min-height: 5vh;
  font-weight: bold;
}

.card-img-top {
  max-height: 25vh;
  max-width: 100%;
  }
.imgprop{
  max-width:100%;
max-height:100%;
}

.backcarddescription {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}