.card {
  background-color: #e7da91d8;
  opacity: 0.98;
  border-radius: 50px

}

.flipbody {
  /* max-height: 300vh; */
}

.card-body {
  /* min-height: 100%; */
}

.cardtitle {
  font-size: 1.5em;
  min-height: 5vh;
  font-weight: bold;
}

.cardcontent {
  max-height: 30vh;
  max-width: 100%;
}

.colinherit {
  height: 100%;
}

.imgprop {
  height: 30vh;
}

.backcarddescription {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}

.boldtitle {
  font-weight: bold;
  text-decoration: underline;
}

.normalfont {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}





.headertitle {
  background-color: #5e1715;
  color: white;
  opacity: 1;
}

.headertitle1 {
  /* For cell phones */
  font-size: 1.5em;
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  
  /* For tablets: */
  .headertitle1 {
    font-size: 2em;
  }
}

@media only screen and (min-width: 1025px) {

  /* For mobile phones: */
  .headertitle1 {
    font-size: 3em;
  }
}