.card {
  background-color: #e7da91d8;
  opacity: 0.98;
  border-radius: 50px

}

.flipbody {
  /* max-height: 300vh; */
}

.card-body {
  /* min-height: 100%; */
}

.cardtitle {
  font-size: 1.5em;
  min-height: 5vh;
  font-weight: bold;
}

.cardcontent {
  max-height: 30vh;
  max-width: 100%;
}

.colinherit {
  height: 100%;
}

.imgprop {
  height: 30vh;
}

.backcarddescription {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}

.boldtitle {
  font-weight: bold;
  text-decoration: underline;
}

.normalfont {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}

