.carouseloutterdiv {}

.slick-track {
  display: flex !important;
  /* height: 35vh; */

}

.slick-slide {
  background-size: cover;
  height: inherit !important;
}

.imagefix {
  background-size: cover;
  height: inherit !important;
}

.headertitle {
  background-color: #5e1715;
  color: white;
  opacity: .93;
}

.headertitle1 {
  font-size: 1.2em;
  /* font-weight: bold; */
}

.titlehome {
  /* padding-bottom: 2%; */
  color: white;
  font-size: 2em;
  text-align: center;
}

.hpd2 {
  max-height: 200px;
}


.mapimage {
  max-height: 400px;
  border-style: solid;
  border-width: 7px;
  border-color: #5e1715;
}

a {
  color: #5e1715;
  text-decoration: none;
  /* no underline */
}

a:hover {
  color: #5e1715;
  text-decoration: none;
  /* no underline */
}


.description1 {
  padding: 0% 5%;
  text-align: justify;
  text-justify: inter-word;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 0.75em;
}

/* ------------------------- */

@media only screen and (min-width: 769px) and (max-width: 1024px) {

  /* For tablets: */
  .description1 {
    font-size: 0.9em;
  }
}

@media only screen and (min-width: 1025px) {

  /* For laptops: */
  .description1 {
    font-size: 1em;
  }
}

/* ------------------------- */
.about-radburn-title {
  /* padding-bottom: 2%; */
  color: white;
  font-size: 1.2em;
  text-align: center;
}

/* ------------------------- */
/* location fonts */

.locationmaster {
  background-color: white;
  color: #5e1715;
  opacity: .92;
}

.locationtitle {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {

  /* For tablets: */
  .locationtitle {
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 1025px) {

  /* For laptops: */
  .locationtitle {
    font-size: 2em;
  }
}

/* ------------------------- */

.addressdiv {
  font-weight: bold;
  font-size: 0.6em;
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {

  /* For tablets: */
  .addressdiv {
    font-size: 1em;
  }
}

@media only screen and (min-width: 1025px) {

  /* For laptops: */
  .addressdiv {
    font-size: 1.25em;
  }
}

/* ------------------------- */
/* hourstitle */

.hourstitle {
  padding-top: 13%;
  font-size: 1em;
  font-weight: bold;
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {

  /* For tablets: */
  .hourstitle {
    font-size: 1.2em;
  }
}

@media only screen and (min-width: 1025px) {

  /* For laptops: */
  .hourstitle {
    font-size: 1.5em;
  }
}

/* ------------------------- */
/* hourslist */

.hourslist {
  font-weight: bold;
  text-align: justify;
  text-justify: inter-word;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 0.7em;
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {

  /* For tablets: */
  .hourslist {
    font-size: 0.85em;
  }
}

@media only screen and (min-width: 1025px) {

  /* For laptops: */
  .hourslist {
    font-size: 1em;
  }
}