.disclaimerdiv {
  background-color:  #5e1715;
  color:  white;
  /* font-size: 1em; */
  opacity: 0.92;
}

.disclaimertitle {
  background-color:  #5e1715;
  font-weight: bold;
  color:  white;
  font-size: 2em;
  opacity: 0.92;
}

.designerdiv {
  background-color:  #5e1715;
  color:  white;
  /* font-size: 1em; */
  opacity: 0.92;
}

.designertitle {
  background-color:  #5e1715;
  font-weight: bold;
  color:  white;
  font-size: 2em;
  opacity: 0.92;
}

.designerbody {

}

.designer-link {
  color: white;
}

.designer-link:hover {
  color: #c9bc70;
}

/* .contact-p {

} */

.contact-j {
  margin: auto;
  float:right;
}