.disclaimerdiv {
  background-color:  #5e1715;
  color:  white;
  /* font-size: 1em; */
  opacity: 0.92;
}

.disclaimertitle {
  background-color:  #5e1715;
  font-weight: bold;
  color:  white;
  font-size: 2em;
  opacity: 0.92;
}

.designerdiv {
  background-color:  #5e1715;
  color:  white;
  /* font-size: 1em; */
  opacity: 0.92;
}

.designertitle {
  background-color:  #5e1715;
  font-weight: bold;
  color:  white;
  font-size: 2em;
  opacity: 0.92;
}

.designer-link {
  color: white;
}

.designer-link:hover {
  color: #e6d67d;
}

/* .contact-p {

} */

.contact-j {
  margin: auto;
  float:right;
}

.wineHeaderTitle {
  background-color: #5e1715;
  color: white;
  opacity: 0.8;
}

.wineHeaderTitle1 {
  /* For cell phones */
  font-size: 1.5em;
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  
  /* For tablets: */
  .wineHeaderTitle1 {
    font-size: 2em;
  }
}

@media only screen and (min-width: 1025px) {

  /* For laptops: */
  .wineHeaderTitle1 {
    font-size: 2.5em;
  }
}



/* home header title (radburn liquors is your one-stop shop... */

.homeHeaderTitle {
  background-color: #5e1715;
  color: white;
  opacity: 0.8;
}

.homeHeaderTitle1 {
  /* For cell phones */
  font-size: 0.75em;
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  
  /* For tablets: */
  .homeHeaderTitle1 {
    font-size: 1.1em;
  }
}

@media only screen and (min-width: 1025px) {

  /* For laptops: */
  .homeHeaderTitle1 {
    font-size: 1.5em;
  }
}

/* -------------- */
/* admin page stuff */
